{% extends 'wrapper.html' %}

{% block head %}
    <title>Account</title>
{% endblock %}

{% block content %}
    {% include 'header.html' %}

    <a href="/account/presentations/add/">
        <button class="btn">Добавить презентацию</button>
    </a>
    <h2>Активные презентации</h2><br>
    <div class="container d-flex align-items-center flex-row flex-wrap">

        {% for presentation in presentations %}
            {% if presentation.is_active %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ presentation.name }}</h5>
                        <p class="card-text">{{ presentation.description }}</p>
                        <a href="/account/presentations/{{ presentation.id }}" class="card-link">Open</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    </div>
    <hr/>
        <h2>Закрытые презентации</h2>
    <div class="container d-flex align-items-center flex-row flex-wrap">

        {% for presentation in presentations %}
            {% if not presentation.is_active %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ presentation.name }}</h5>
                        <p class="card-text">{{ presentation.description }}</p>
                        <a href="/account/presentations/{{ presentation.id }}" class="card-link">Open</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    {% include 'footer.html' %}
{% endblock %}